.button{ 
background-color: $white;
color: $granite-gray;
font-size: $medium;
border: 1px solid $quick-silver;
width: 9rem;
height: 2.5rem;
border-radius: 40px;
margin: 3rem 0;

    &__big{
        color: $granite-gray;
        font-size: $large;
        width: 22rem;
        height: 4rem;
        border-radius: 40px;
        margin: 5rem 0;
    }

}