.main-section{
    color: $white;
    text-align: center;
    vertical-align: middle;
    background-color: $jelly-bean;
    padding:13rem;
    margin: 0;
   
    p{
        margin: 0;
        font-weight: $extra-light;
        font-size: $x-large;  
    }
}